/* - - - - - - - - - - - - - - - - - - - - -

 Title : Code for America Wufoo CSS
 Author : David Leonard
 URL : http://github.com/codeforamerica/cfa-wufoo

 Last Updated : November 28, 2014

- - - - - - - - - - - - - - - - - - - - - */

/* - - - Import Code for America styles - - - */

@import url("http://cloud.webtype.com/css/944a7551-9b08-4f0a-8767-e0f83db4a16b.css");

body {
    position: relative;
    color: #000;
    font-family: "Interstate", "Gotham A", "Gotham B", "Open Sans Regular", "Verdana", "Helvetica", "Arial"; /* $font-sans-serif: */
    font-size: 15px;
    line-height: 25px;
    margin: 0;
    padding: 0;
}

/* - - - Default - - - */

/* Layouts */

#container {
  width: 100%;
  overflow: hidden;
}

form ul {
  max-width: 700px;
  padding-top: 0;
  padding-left: 15px;
  padding-right: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

form.wufoo {
  margin: 0;
  margin-top: 40px;
  padding: 0;
  position: relative;
}

@media only screen and (max-width: 800px) {
  .wufoo li {
    width: 90%;
  }
  input.medium, select.medium {
    width: 100%;
  }
}

@media only screen and (max-width: 480px) {
    html {
        background: none;
        margin: 0;
    }

    body {
        margin: 0 0 15px 0 !important;
    }

    #container,form li.focused {
        border: none !important;
        -webkit-box-shadow: none !important;
        -moz-box-shadow: none !important;
        -o-box-shadow: none !important;
        box-shadow: none !important;
    }

    #container,#footer {
        margin: 0 auto !important;
        width: 100%;
    }

    #stripe {
        top: 7px;
    }
}

/* Logo */

#logo a {
  background-image:url('https://raw.githubusercontent.com/codeforamerica/codeforamerica.org/master/assets/logo.png'); 
  background-size: 90px;
  margin-left: 20px;
}
#logo {
  min-height: 40px;
  height: 40px;
  padding-top: 14px;
  padding-bottom: 10px;
  background-color: white;

  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;

  border-bottom: 1px solid #ccc;
}

/* On tablet/mobile, don't unstick the header */
@media screen and (max-width: 750px) {
  #logo {
    position: relative;
  }
  form.wufoo {
    margin-top: 0;
  }
}

/* Header */

#header:before {
  background: url("http://www.codeforamerica.org/media/images/about/about_header.jpg") center center no-repeat;
  background-size: cover;
  content: "";
  left: 0;
  max-width: none;
  min-height: 450px;
  opacity: 0.4;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

#header {
  position: relative;
  overflow: hidden;
  color: white;
  background-color: #000;
  min-height: 350px;
  width: 100%;
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
  text-align: center;
}

#header h2,
#header div {
  position: relative;
  z-index: 2;
  color: white;
  padding-left: 10%;
  padding-right: 10%;
  text-shadow: 0px 0px 3px rgba(0,0,0,0.6);
}

#header h2 {
  clear: left;
  display: block;
  font-family: "Interstate", "Gotham A", "Gotham B", "Open Sans Regular", "Verdana", "Helvetica", "Arial";
  font-size: 65px;
  font-weight: bold;
  letter-spacing: -3px;
  line-height: 60px;
  text-transform: uppercase;

  padding-top: 100px;
}

#header div {
  padding-top: 20px;
  font-size: 140%;
  line-height: 160%;
  padding-bottom: 10px;
  font-family: Georgia, Times, "Times New Roman", serif;
}

/* Breakpoint for tablets */
@media only screen and (max-width: 750px) {
  #header {
    min-height: 150px;
  }
  #header h2,
  #header div {
    padding-left: 10px;
    padding-right: 10px;
  }
  #header h2 {
    font-size: 50px;
    line-height: 50px;
  }
  #header div {
    font-size: 15px;
  }
}

@media screen and (max-width: 480px) {
  #header {
    min-height: 100px;
  }
  #header h2 {
    font-size: 40px;
    line-height: 42px;
    padding-top: 40px;
  }
}

/* Backgrounds */

html {
  background-image:none;
  background-color:white;
}

#container {
  background: #FFFFFF;
  position: relative;
}

.wufoo input.text, 
.wufoo textarea.textarea{
  background: #FFFFFF url(/images/fieldbg.gif) repeat-x top;
}

.wufoo .focused,
.wufoo li.focused,
form li.focused {
  transition: all 0.2s ease;
  background: rgba(122,181,214,0.2);
  padding-left: 15px;
  padding-right: 25px;
}

/* On tablet and smaller, don't show focused state */
@media screen and (max-width: 750px) {
  .wufoo .focused,
  .wufoo li.focused,
  form li.focused {
    transition: none;
    background: inherit;
    padding-left: 0;
    padding-right: 0;
  }
}

.wufoo .instruct {
  background-color:#F5F5F5;
}

/* Borders */


#container {
  border: none;
  /* override #container shadow from index.css */
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}

.wufoo .info {
  border: 0;
}

.wufoo .instruct{
  border:1px solid #e6e6e6;
}

/* Typography */

.wufoo .section h3 {
  font-size:130%;
  font-family:inherit;
  background:#FFFFFF;
  color:#000000;
  font-weight: 900;
  margin-top: 40px;
  padding-top: 20px;
}

.wufoo .section div {
  font-size:85%;
  font-family:inherit;
  color:#444444;
}

.wufoo label.desc, 
.wufoo legend.desc {
/*  margin-top: 10px;
*/  font-family:inherit;
  font-weight: 600;
  color:#444444;
  font-family: "Interstate", "Gotham A", "Gotham B", "Open Sans Regular", "Verdana", "Helvetica", "Arial";
  color: #6d6e71;
  display: block;
  font-size: 0.85em;
  line-height: 1.25rem;
  line-height: 18px;
  margin-bottom: 0;
  margin-right: 0.5em;
  padding-bottom: 8px;
  text-transform: uppercase;
  vertical-align: middle;
}

.wufoo li div, 
.wufoo li div label, 
.wufoo li span label {
  color: #999595;
  font-size: 13px;
  line-height: 22px;
  vertical-align: top;
}

.wufoo input.text, 
.wufoo textarea.textarea, 
.wufoo select.select, 
.wufoo label.choice {
  font-size:100%;
  font-family:inherit;
  color:#333333;
}

.wufoo label.choice {
  color:#444444;
}

.wufoo .instruct{
  font-size:80%;
  font-family:inherit;
  color:#444444;
  z-index: 2;
}

/* Form settings */

form li {
  margin-top: 30px;
}

textarea,
textarea.textarea,
input,
input.text,
select {
    border: 1px solid;
    border-color: #999595;
    border-color: rgba(153, 149, 149, 0.7);
    border-radius: 4px;
    font-family: "Open Sans", "Interstate", "Gotham A", "Gotham B", "Open Sans Regular", "Verdana", "Helvetica", "Arial" !important; /* $font-sans-serif: */
    margin-bottom: 16px !important;
}

.wufoo input,
.wufoo select {
    display: inline-block;
    font-size: 14px;
    line-height: 19px;
    margin: 5px 3px 2px 0 !important;
    min-height: 39px;
    padding: 0 12px;
    vertical-align: middle;
}

@media print {
    input,
    select,
    textarea {
        border: 1px solid #999595;
    }
}

.wufoo select {
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-image: url("http://style.codeforamerica.org/style/images/arrow-triangle-down.png");
    background-position: 96% center;
    background-position: top 12px right 15px;
    background-repeat: no-repeat;
    font-size: 16px;
    line-height: 1.4em;
    min-width: 150px;
    padding: 9px 26px;
    text-indent: 0.01px;
    text-overflow: "";
}

select[disabled],
select[multiple] {
    background-image: none;
}

select[multiple] {
    padding-left: 0;
    padding-right: 0;
}

label.choice {
    color: #6d6e71;
    display: block;
  font-size: 0.8em;
  line-height: 1.25rem;
    line-height: 20px;
    margin-bottom: 0;
  margin-right: 0.5em;
    text-transform: uppercase;
    vertical-align: middle;
}

@media print {
    label {
        color: #494c49;
    }
}

textarea:focus,
input:focus {
    border-color: #004b6a;
    outline: 0;
}

input.invalid {
    border: 1px solid #cf1b41;
}

input[type="text"][disabled] {
    background: #f1f1f1;
}

abbr[title="required"],
abbr[title="Required"] {
    border-bottom: none;
    color: #cf1b41;
}

textarea.textarea {
    font-size: 16px;
    margin: 0;
    max-width: 98%;
    padding: 16px 1%;
}

textarea[disabled] {
    background: #f1f1f1;
    cursor: not-allowed;
}

video {
    max-width: 100%;
}

fieldset {
    border: none;
}

select:hover {
    cursor: pointer;
}

select[disabled] {
    background: #f1f1f1;
    cursor: not-allowed;
}

input[type="search"] {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

form li.complex div span.left, 
form li.complex div span.right {
  margin: 0;
  width: 45%;
}

@media screen and (max-width: 700px) {
  form li.complex div span.left, form li.complex div span.right {
    margin: 0;
    width: 100%;
  }
}

.wufoo .instruct {
  font-size: 100%;
  line-height: 120%;
  background-color: white !important;
  border: none;
  padding-top: 0;
  margin-top: 0;
}

@media screen and (max-width: 750px) {
  .wufoo .instruct {
    display: none;
  }
}

/* Input button */
input.btTxt.submit {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  -moz-box-sizing: content-box;
  -webit-box-sizing: content-box;
  box-sizing: content-box;
  background-color: #399fd3;
  border-radius: 4px;
  border: none;
  color: white;
  display: inline-block;
  font-family: "Interstate", "Gotham A", "Gotham B", "Open Sans Regular", "Verdana", "Helvetica", "Arial";
  font-size: 14px;
  font-weight: normal;
  height: 40px;
  line-height: 40px;
  margin: 0 8px 4px 0;
  min-height: 19px;
  min-width: auto;
  overflow: visible;
  padding: 0 26px;
  text-align: center;
  text-decoration: none;
  text-shadow: none;
  vertical-align: middle;
  width: auto;
}

input.btTxt.submit:hover {
    background-color: #7ab5d6;
    cursor: pointer;
}

.full input.field.file {
  padding: 12px 12px 0 12px;
}

/* Move down symbols between input boxes */
span.symbol {
  font-size: 120%;
  line-height: 290%;
}